body{
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: #0a1a2f;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
h1{
    font-size: 5em;
    margin-top: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
    position: relative;
    color: #bdbdd5;
    overflow: hidden;
}
h1::after {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
    animation: shine 2.5s infinite;
}
.tagline {
    font-family: cursive;
    font-size: 3.5em;
    color: wheat;
    margin: 30px 0;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(30px);
    animation: slideFadeIn 2s ease-out forwards;
}
.luxury{
    font-style: italic;
}
.description{
    width: 70%;
    margin: auto;
    font-size: 1em;
    margin-bottom: 40px;
    line-height: 1.5;
}
.table-title{
    font-weight: bold;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.room-table{
    width: 90%;
    margin: auto;
}
table{
    width: 100%;
    border: 2px solid red;
    border-collapse: collapse;
    margin-bottom: 30px;
}
th, td{
    border: 1px solid red;
    padding: 15px;
    text-align: center;
    color: white;
}
.heading{
    background-color: red;
    font-weight: bold;
}
.room-img{
    width: 200px;
    height: auto;
}
.book-now a{
    color: rgb(246, 230, 230);
    font-weight: bold;
    text-decoration: underline;
}
footer{
    background-color: #4b2e1e;
    padding: 15px;
    font-size: 0.8em;
    margin-top: 30px;
}
@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

